body {
  padding: 0.5em;
  margin: 0;
  max-width: 800px;
  color: #fff;
  background-color: #333;
}

a {
  color: #4981b1;
}

.label-for-text {
  display: inline-block;
  text-align: right;
  width: 15em;
}

code {
  padding: 0.2em;
  background-color: #777;
}

.container {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #777;
  padding: 0.5em;
  margin: 1em;
  text-align: center;
}

.button:hover {
  background-color: #aaa;
  cursor: pointer;
}

.save {
  width: 100%;
  margin: 0.5em;
  font-size: 2em;
}

.tab-group {
  display: flex;
  justify-content: center;
  margin: 0 0.5em;
  padding-inline-start: 0;
}

.tab {
  flex-grow: 1;
  padding: 5px;
  list-style: none;
  border: solid 1px #fff;
  text-align: center;
  cursor: pointer;
}

.panel-group {
  border: solid 1px #fff;
  border-top: none;
  margin: 0 0.5em;
}

.panel {
  display: none;
}

.tab.active {
  border-bottom-style: none;
}

.panel.show {
  display: block;
}

.panel-h2 {
  margin: 0 0.5em;
  padding-top: 10px;
}

.panel-description {
  margin: 0 0.5em;
  padding-top: 10px;
}

.description {
  margin: 1em 10em;
}

.path-conversion-search {
  width: 40%;
}

.path-conversion-replace {
  width: 40%;
}

.path-conversion-remove {
  width: 10%;
}

#search-replace-container {
  display: block;
  margin: 10px 40px 10px 40px;
}
