body {
  padding: 0;
  margin: 0;
  max-width: 800px;
  color: #fff;
  background-color: #333;
}

label {
  display: inline-block;
  text-align: right;
  width: 15em;
}

code {
  padding: 0.2em 0.2em;
  background-color: #777;
}

.container {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #777;
  padding: 0.5em;
  margin: 1em;
  text-align: center;
}

.button:hover {
  background-color: #aaa;
  cursor: pointer;
}

.save {
  width: 100%;
  margin: 2em;
  font-size: 2em;
}
