body {
  padding: 0;
  margin: 0;
  width: 200px;
  background-color: #000;
}

.button-group {
  display: flex;
  margin: 5px;
}

.open_type {
  display: block;
  color: #fff;
  background-color: #333;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 50%;
}

.open_type:hover {
  background-color: #777;
}

.copy_type {
  display: block;
  color: #fff;
  background-color: #333;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

.copy_type:hover {
  background-color: #777;
}

.message {
  display: none;
  color: #e05c5c;
  margin: 5px;
}

a {
    color: #4981b1;
}
